# Note lxc-execute triggers container hooks as well

- name: Modify base image for cloud-init support
  ansible.builtin.command:
    argv:
      - lxc-execute
      - --lxcpath
      - "{{ lxc_path }}"
      - "{{ container_name }}"
      - --
      - /bin/sh
      - -c
      - |
        rm -f /etc/cloud/cloud-init.disabled &&
        cat << EOF > /etc/cloud/cloud.cfg.d/nocloud-seed.cfg
        datasource_list: [NoCloud, None]
        datasource:
          NoCloud:
            seedfrom: {{ nocloud_seedfrom }}
        EOF
  register: cloud_init_touch

- name: Provide network config
  when: is_undefined_container and network_config is defined
  ansible.builtin.command:
    argv:
      - lxc-execute
      - --lxcpath
      - "{{ lxc_path }}"
      - "{{ container_name }}"
      - --
      - /bin/sh
      - -c
      - |
        cat << EOF > /etc/cloud/cloud.cfg.d/10-netconf.cfg
        network:
        {{ network_config | indent(2, first=True) }}
        EOF

- name: cloud-init boot
  ansible.builtin.command:
    argv:
      - "lxc-{{ rootless | ansible.builtin.ternary('unpriv-', '') }}start"
      - --lxcpath
      - "{{ lxc_path }}"
      - "{{ container_name }}"
  notify: Block waiting on cloud-init to complete
  # No effect if not nocloud_managed
  environment:
    NOCLOUD_SEEDFROM: "{{ nocloud_seedfrom }}"
    NOCLOUD_INSTANCE_ID: "{{ instance_id | default(lookup('community.general.random_string', length=12, min_lower=8, min_numeric=4, ignore_similar_chars=true, upper=false, special=false)) }}"

- ansible.builtin.set_fact:
    cloud_init_containers: "{{ cloud_init_containers + [container_name] }}"
    console_logs: "{{ console_logs + [container_console_logfile] }}"
  vars:
    cloud_init_containers: []
    console_logs: []
