- name: Include all .conf files from config.d
  block:
    - ansible.builtin.file:
        path: "{{ container_config }}.d"
        state: directory
        mode: '0750'
      register: _conf_d
    - ansible.builtin.lineinfile:
        path: "{{ container_config }}"
        line: "lxc.include = {{ _conf_d.path }}/"
        state: present

- name: Configure container network interfaces
  ansible.builtin.template:
    src: net-idx.conf.j2
    dest: "{{ _conf_d.path }}/net-{{ idx }}.conf"
    mode: '0644'
  loop: "{{ networks }}"
  loop_control:
    index_var: idx
  vars:
    _net_type: "{{ item.type | default('veth') }}"
    _net_link: "{{ item.link }}"
    _net_ipv4_address: "{{ item.ipv4_address | default(omit) }}"
    _net_ipv4_gateway: "{{ item.ipv4_gateway | default(omit) }}"
  register: _net_intf

- name: Configure host mounts
  block:
    - ansible.builtin.template:
        src: mount-entries.conf.j2
        dest: "{{ _conf_d.path }}/mount-entries.conf"
      register: _mount_conf
      notify: Change ownership of rw mounts
    - ansible.builtin.stat:
        path: "{{ item.path }}"
      loop: "{{ rw_mounts }}"
      register: rw_mounts_st
    - ansible.builtin.set_fact:
        idmap_mounts_chown: "{{ idmap_mounts_chown | default([]) + container_idmap_mounts_chown }}"
      vars:
        container_idmap_mounts_chown: "{{ rw_mounts_chown | map('combine', {'idmap': container_idmap}) }}"
        rw_mounts_chown: "{{ rw_mounts_st.results | map(attribute='stat') | rejectattr('uid', 'in', range(container_idmap | int, container_idmap | int + 65536)) | community.general.keep_keys(target='path') }}"
  vars:
    rw_mounts: "{{ container_host_mounts | ansible.builtin.difference(ro_mounts) }}"
    ro_mounts: "{{ container_host_mounts | selectattr('ro', 'defined') | selectattr('ro') }}"
    container_host_mounts: "{{ host_mounts | default([]) }}"

- name: Enforce storage limit
  become: true
  become_user: root
  block:
    - when: container_bdev == "zfs"
      community.general.zfs:
        name: "{{ bdev_root }}/{{ container_name }}"
        state: present
        extra_zfs_properties:
          quota: "{{ instance_disk_size }}"
  rescue:
    - ansible.builtin.debug:
        msg: "Unable to set instance storage limit."

- name: Container system behaviour
  ansible.builtin.template:
    src: system.conf.j2
    dest: "{{ _conf_d.path }}/system.conf"
  register: _system_conf
  vars:
    console_logfile: "{{ container_console_logfile | default(template_destpath + '.console-log') }}"
    _tags: "{{ instance_tags | default([]) }}"
