- name: Gather runtime facts, applying results to all hosts in the batch
  ansible.builtin.import_tasks:
    file: gather_runtime_facts.yaml
  run_once: true

- when: state == "absent"
  ansible.builtin.import_tasks:
    file: destroy_container.yaml

- name: End role for absent containers
  when: undefine_container.lxc_container.state | default('present') == 'absent'
  ansible.builtin.meta: end_role

- ansible.builtin.import_tasks:
    file: manage_rootfs.yaml
  vars:
    rootfs_path: "{{ container_path }}/rootfs"
    container_bdev: "{{ bdev.type | default('dir') }}"
    bdev_root: "{{ bdev.root }}"
    is_zfs_rootless: "{{ (container_bdev == 'zfs' and rootless) }}"

- name: Update container resources and behaviour
  when: state == "updated" or is_undefined_container
  ansible.builtin.import_tasks:
    file: config_container.yaml
  vars:
    container_config: "{{ container_path }}/config"

- name: Wait for container to be defined
  when: new_container.ansible_job_id is defined
  ansible.builtin.async_status:
    jid: "{{ new_container.ansible_job_id }}"
  register: new_container_res
  until: new_container_res is finished
  retries: 5
  delay: 15

- when: is_cloud_init_boot
  ansible.builtin.import_tasks:
    file: cloud_init_boot.yaml
  vars:
    is_cloud_init_boot: "{{ _nocloud_conf is changed }}"

- name: Ensure instance state
  ansible.builtin.import_tasks:
    file: touch_state.yaml
