- name: Gather runtime facts, applying results to all hosts in the batch
  ansible.builtin.import_tasks:
    file: gather_runtime_facts.yaml
  run_once: true

- when: state == "absent"
  ansible.builtin.import_tasks:
    file: destroy_container.yaml

- name: End role for absent containers
  when: undefine_container.lxc_container.state | default('present') == 'absent'
  ansible.builtin.meta: end_role

- ansible.builtin.import_tasks:
    file: manage_rootfs.yaml
  vars:
    rootfs_path: "{{ container_path }}/rootfs"
    container_bdev: "{{ bdev.type | default('dir') }}"
    bdev_root: "{{ bdev.root }}"
    is_zfs_rootless: "{{ (container_bdev == 'zfs' and rootless) }}"

- name: Update container resources and behaviour
  when: state == "updated" or is_undefined_container
  ansible.builtin.import_tasks:
    file: config_container.yaml
  vars:
    container_config: "{{ container_path }}/config"

- when: is_cloud_init_boot
  ansible.builtin.import_tasks:
    file: cloud_init_boot.yaml
  vars:
    is_cloud_init_boot: "{{ is_undefined_container }}"
    cloud_init_boot_conf: "{{ _cloud_init_boot_conf.dest }}"
    is_nocloud_managed: "{{ (nocloud_seedfrom | ansible.builtin.urlsplit('scheme')) == 'file' }}"
    seedfrom_path: "{{ nocloud_seedfrom | ansible.builtin.urlsplit('path') }}"

- name: Ensure instance state
  ansible.builtin.import_tasks:
    file: touch_state.yaml
