{% for mount in container_host_mounts %}
lxc.mount.entry = {{ mount.path }} mnt/{{ mount.path | ansible.builtin.basename }} none bind,optional,create=dir{{ mount.ro | default(false) | ansible.builtin.ternary(',ro', '') }} 0 0
{% endfor %}
