lxc.net.{{ idx }}.type = {{ _net_type }}
lxc.net.{{ idx }}.flags = up
lxc.net.{{ idx }}.link = {{ _net_link }}
lxc.net.{{ idx }}.name = eth{{ idx }}_lxc
{% if _net_hwaddr != None %}
lxc.net.{{ idx }}.hwaddr = {{ _net_hwaddr }}
{% endif %}
{% if _net_ipv4_address != None %}
lxc.net.{{ idx }}.ipv4.address = {{ _net_ipv4_address }}
{% endif %}
{% if _net_ipv4_gateway != None %}
lxc.net.{{ idx }}.ipv4.gateway = {{ _net_ipv4_gateway }}
{% endif %}
